<app-nav-bar></app-nav-bar>
<hr>
<div class="container-fluid">
    <div>
    <h2 class="left">Courses</h2>
    <div class="right">
    <button class="btn btn-primary" style="margin-right:10px" (click)="onPublish()">Publish</button>
    <button class="btn btn-primary" style="margin-right:10px" (click)="onDraft()">Save and Continue</button>
    <button class="btn btn-primary" style="margin-right:10px" (click)="onDraft()">Save as Draft</button>
    <button class="btn btn-primary" style="margin-right:10px" (click)="back()">Back</button>
    </div>
    </div>
    <hr>
</div>
<div class="container-fluid">
    <form [formGroup]="cloneForm">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Course Version:</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" formControlName="version" readonly/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Level:</label>
            </div>
            <div class="col-3">
                <select class="custom-select" formControlName="level">
                    <option *ngFor="let level of levels" [value]="level.id">{{level.name}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Course Name:</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" formControlName="courseName" [(ngModel)]="course_name"
                    readonly />
            </div>
        </div>
         
        
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Category:</label>
            </div>
            <div class="col-3">
                <select class="custom-select" formControlName="category">
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Tags:</label>
            </div>
            <div class="col-3">
                <tag-input placeholder="enter key tag" formControlName="tags" [(ngModel)]="tags"
                    [modelAsStrings]="true">
                </tag-input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Slug:</label>
            </div>
            <div class="col-2.5">
                <span>https://qa.revature.com/RevaturePro/course</span>
            </div>
            <div class="col-1">
                <input type="text" class="form-control" formControlName="slug" [value]="course_name" readonly />
            </div>
        </div>
        <br>
        <div class="form-group row">

            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Level Override:</label>
            </div>
            <div class="col-1">
                <label><input type="radio" name="levelOverride" formControlName="levelOverride" value="true"
                        [checked]="cloneForm.value.levelOverride===true" /> On&nbsp;&nbsp;</label>
                <label><input type="radio" name="levelOverride" formControlName="levelOverride" value="false"
                        [checked]="cloneForm.value.levelOverride===false" /> Off&nbsp;&nbsp;</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Available For:</label>
            </div>
            <div class="col-3">
                <label><input type="checkbox" formControlName="isPreSignUp"
                        [checked]="cloneForm.value.isPreSignUp===true" />&nbsp;&nbsp;Pre-Signup</label><br>
                <label><input type="checkbox" formControlName="isSlugLogin"
                        [checked]="cloneForm.value.isSlugLogin===true" />&nbsp;&nbsp;Logged in users via
                    Slug</label><br>
                <label><input type="checkbox" formControlName="isDashboard"
                        [checked]="cloneForm.value.isDashboard===true" />&nbsp;&nbsp;Dashboard</label>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-3"></div>
            <div class="col-1.5">
                <label class=" col-form-label">Enrollment Activity Points:</label>
            </div>
            <div class="col-1">
                <input type="number" value="100" min=0 onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" formControlName="enrollmentActivityPoints" /><br>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1.5">
                <label class=" col-form-label">Completion Activity Points:</label>
            </div>
            <div class="col-1">
                <input type="number" value="100" min=0 onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" formControlName="completionActivityPoints" /><br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Description:</label>
            </div>
            <div class="col">
                <textarea rows="4" cols="50" formControlName="description"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Meta Keyword:</label>
            </div>
            <div class="col">
                <tag-input placeholder="enter key tag" formControlName="metaKey" [(ngModel)]="metaKey" value="tags"
                    [modelAsStrings]="true">
                </tag-input>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Meta Description:</label>
            </div>
            <div class="col">
                <textarea rows="4" cols="50" formControlName="metaDescription"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
                <label class=" col-form-label">Choose Icon:</label>
            </div>
            <div class="col">
                <input type="file" formControlName="chooseIcon" /><br>
            </div>
        </div><br>
        <div class="row">
        <div class="col-3"></div>
        <div class="card text-white bg-info mb-3 " style="max-width: 18rem;">
            <div class="card-header">Documents Attached</div>
            <div class="card-body">
                <div *ngFor="let doc of listOfDocs">
                    <p class="card-text" (click)="openExistingDoc(existingContent,doc)"><u>{{doc.name}}</u></p>
                </div>
            </div>
            <div class="card-footer"><button class="btn btn-primary" (click)="open(content)">Attach
                    Document</button></div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
        <div class="card text-white bg-info mb-3 " style="max-width: 18rem;">
            <div class="card-header">Videos Attached</div>
            <div class="card-body">
                <div *ngFor="let video of listOfVideos">
                    <div class="row">
                        <div class="col-8">
                            <p class="card-text">{{video.name}}</p>
                        </div>
                        <div class="col-4">
                            <i (click)="deleteCourseVideoMapping(video.id)" class="fa fa-trash fa-sm"></i>
                        </div>
                    </div>
                </div>
                <!-- <p>{{listOfVideos}}</p> -->
            </div>
            <div class="card-footer"><button class="btn btn-primary"
                    (click)="openAddVideoModal(showAvailableVideo)">Attach Videos</button></div>
        </div>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header ">
                <h4 class="modal-title" id="modal-basic-title">Add a Document</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div col-3></div>
                    <div col-2>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="col-form-label">Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" formControlName="newEditorName" />
                    </div>
                </div>
                <br>
                <ckeditor formControlName="newEditorContentText" [editor]="editor" #editorReference
                    (ready)="onReadyForNewEntry($event)"></ckeditor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="saveContent()">Save</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
            </div>
        </ng-template>
<!-- modal to edit the already existing document -->
        <ng-template #existingContent let-modal>
            <div class="modal-header ">
                <h4 class="modal-title" id="modal-basic-title">edit Document</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div col-3></div>
                    <div col-2>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="col-form-label">Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" formControlName="editorName" id="docName" />
                    </div>
                </div>
                <br>
                <ckeditor id="updateTextEditor" formControlName="editorContentText" [editor]="editor"
                    (ready)="onReadyForExitstingEntry($event,currentDoc)"></ckeditor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="saveContent()">Save</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
            </div>
        </ng-template>
        <!-- modal to show list of available videos in order to add -->
        <ng-template #showAvailableVideo let-modal>
            <div class="modal-header ">
                <h4 class="modal-title" id="modal-basic-title">Add Videos</h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let video of listOfAllVideos">
                    <div *ngIf="!listOfVideosId.includes(video.id)">
                        <input type="checkbox" [value]="video.id" (click)="onCheckBoxChange($event)">{{video.name}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="addSelectedVideo()">Add</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
            </div>
        </ng-template>
    </form>
</div>
